<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO Change to a real company name -->
    <title>NovaJet Airlines</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <header>
        <%- include('./partials/navigation.ejs') %>
    </header>
    
    <section class="hero">

        <h1>Where Journeys Take Flight</h1>
        <h2>Connecting Dreams and Destinations</h2>
        
        <!-- TODO: two buttons or something to break up the page -->

        <img src="/images/airplane-takeoff.jpg" alt="An airplane taking off from a runway">

    </section> 

</body>
</html>
