<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO Change to a real company name -->
    <title>Flight Company</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/home.css">

    <!-- ejs if statement
        <style>
            * {
                scrollbar-width: 5rem !important;
                scrollbar-color: var(--yellow) var(--black);
            }  
        </style>
         -->

</head>
<body>
    <header>
        <%- include('./partials/navigation.ejs') %>
    </header>
    
    <section class="hero">

        <h1>Put a Massive Header Here</h1>
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, recusandae voluptatum ipsum quos, nemo tenetur sed fugit aliquid veniam harum cumque itaque. Est ad nisi, illo libero sit sequi illum.</h2>
        
        <!-- TODO: two buttons or something to break up the page -->

        <img src="/images/airplane-takeoff.jpg" alt="An airplane taking off from a runway">

    </section>
    

</body>
</html>